<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>FW13 Tasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
</head>
<body ng-controller="MainCtrl">

<div style="background-color:#46b8da">
    <div class="container" style=";margin-bottom:0px;">
        <section class="row" id="header-section"
                 style="margin-top:0px; margin-bottom:0px;padding-bottom:120px;padding-top:120px;">
            <div class="col-sm-4" id="bigtextme" ng-cloak style="margin-left:auto; margin-right:auto;text-align:center">
                <a href="day1"><span style="font-size:8em; line-height: 2.5em; color:white;"> SAT </span></a>
            </div>
            <div class="col-sm-4" id="bigtextme" ng-cloak style="margin-left:auto; margin-right:auto;text-align:center">
                <span style="font-size:12em; line-height: 1.5em; color:white;"> {{ complete1 / (complete1 + incomplete1) * 100 | number : 0 }}%</span>
            </div>
            <div class="col-sm-4">
                <canvas id="doughnut" class="chart chart-doughnut" data="data1"
                        labels="labels" legend="true"></canvas>
            </div>
        </section>

        <hr>

        <section class="row" id="header-section"
                 style="margin-top:0px; margin-bottom:0px;padding-bottom:120px;padding-top:120px;">
            <div class="col-sm-4" id="bigtextme" ng-cloak style="margin-left:auto; margin-right:auto;text-align:center">
                <a href="day2"><span style="font-size:8em; line-height: 2.5em; color:white;"> SUN </span></a>
            </div>
            <div class="col-sm-4" id="bigtextme" ng-cloak style="margin-left:auto; margin-right:auto;text-align:center">
                <span style="font-size:12em; line-height: 1.5em; color:white;"> {{ complete2 / (complete2 + incomplete2) * 100 | number : 0 }}%</span>
            </div>
            <div class="col-sm-4">
                <canvas id="doughnut" class="chart chart-doughnut" data="data2"
                        labels="labels" legend="true"></canvas>
            </div>
        </section>

    </div>
</div>


<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/angular-chart.js"></script>

<script src="scripts/app.js"></script>

</body>
</html>